:root{
  --bg: #373737 ;
  --fichas: #00C8BA;
}
*{
  margin:0;
  padding:0;
  font-family: 'Helvetica', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--bg);
}
h1{
  color: var(--fichas);
}
#root{
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 500px;
  padding:10px;
}

#root button{
  color:var(--bg);
  outline: none;
  border:none;
  background: var(--fichas);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin: 10px;
  transition: 0.2s all ease-out;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
#root button:disabled,#reset:disabled{
  border-style:solid;
  border-color:var(--fichas);;
  border-width: 2px;
  background: transparent;
  color:var(--fichas);
  opacity: 50%;
}
#root button:hover{
  transform: scale(1.1);
}

.hidden{
  display: none;
}
#reset{
  background: var(--fichas);
  padding:20px;
  border:none;
  box-shadow: rgba(0,0,0,0.5);
}
